.analytics-page {
  align-items: center;
  color: var(--bg-maroon);
  flex-wrap: wrap;
  justify-content: center;
}

.bar-chart {
  padding: 30px 50px;
  width: 25em;
}

.pie-chart {
  padding: 30px 50px;
  width: 20em;
}
