.analytics-page {
  color: var(--bg-maroon);
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.bar-chart {
  padding: 30px 50px;
  width: 25em;
}

.pie-chart {
  padding: 30px 50px;
  width: 20em;
}

.system-message {
  padding: 50px;
}
