.sidebar-container {
  display: flex;
}

.child-page {
  padding: 20px;
  width: 100%;
}

.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 270px;
}

.sidebar-child {
  width: 50px;
}

.navigation-section {
  align-items: center;
  display: flex;
  padding: 20px 15px;
}

.planner-logo {
  cursor: pointer;
  display: block;
  font-size: 25px;
}

.hide-elements {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  font-size: 25px;
  margin-left: 80px;
}

.move-bars {
  margin-left: 0;
}

.nav-link {
  color: #fff;
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  transition: all 0.5s;
}

.nav-link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: lightskyblue;
  color: #000;
}

.nav-icon,
.nav-link-text {
  font-size: 20px;
}
