header {
  border-bottom: 1px solid var(--bg-maroon);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-link {
  color: var(--bg-maroon);
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  transition: all 0.5s;
}

.nav-link:hover {
  background: var(--bg-dark-yellow);
  transition: all 0.5s;
}

.nav-link-items {
  display: flex;
  margin-left: 4%;
}

.active {
  background: var(--bg-dark-yellow);
}

.nav-link-text {
  color: var(--bg-maroon);
  font-size: 20px;
}

.profile-icon {
  color: var(--primary-black);
  display: flex;
  flex: 1;
  justify-content: center;
}

.title-bar {
  align-items: center;
  background: var(--bg-light-yellow);
  display: flex;
  justify-content: space-between;
}

.logout-button {
  cursor: pointer;
  color: var(--bg-maroon);
  font-size: 30px;
  margin-right: 40px;
  padding: 15px 15px 10px;
}
