.home-page {
  background: var(--bg-light-yellow);
}

.overall-board {
  align-items: center;
  animation: slide-down 1s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.date-day {
  animation: slide-left 1s forwards;
  padding: 10px;
}

.greeting-message {
  font-size: 30px;
}

.overall-dashboard {
  align-items: center;
  background-color: var(--bg-light-grey-title);
  border-radius: 30px;
  margin: 10px;
  display: flex;
  padding: 15px;
}

.task-progress-list {
  align-items: center;
  display: flex;
  padding-left: 20px;
}

.progress-details {
  font-size: 20px;
  margin-right: 5px;
}

.overall-task-dashboard {
  display: flex;
  flex-wrap: wrap;
}

.overall-section {
  background-color: var(--bg-medium-yellow);
  border-radius: 20px;
  height: 25em;
  margin: 20px;
  overflow: overlay;
  min-width: 28em;
  width: 46%;
}

.task-section {
  animation: slide-left 1s forwards;
}

.project-container {
  animation: slide-right 1s forwards;
}

.girl-profile-icon {
  border: 1px dashed var(--primary-black);
  border-radius: 50%;
  height: 50px;
  margin: 1.5em;
  width: 50px;
}

.task-classification-container {
  align-items: center;
  border-bottom: 1px solid var(--bg-general-grey);
  display: flex;
}

.classification-container {
  background: var(--bg-medium-yellow);
  position: sticky;
  top: 0;
}

.task-options {
  display: flex;
  flex-direction: column;
}

.task-classifier {
  align-items: center;
  color: var(--bg-dark-grey);
  display: flex;
  gap: 1.5em;
  margin-top: 5px;
}

.heading-bar {
  background: var(--bg-medium-yellow);
  font-size: 150%;
  position: sticky;
  top: 0;
}

.overall-todo-tasks {
  align-items: center;
  border-top: 2px solid var(--bg-light-grey-title);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em 0.2em 0.5em;
}

.task-name {
  align-items: center;
  align-self: flex-start;
  display: flex;
  text-align: center;
  width: 17em;
}

.upcoming-task-section {
  padding: 0.2em 3em;
}

.upcoming-heading {
  padding: 5px;
}

.complete-icon {
  color: var(--bg-dark-grey-icon);
  margin-right: 5px;
}

.classifier-buttons {
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.active-class {
  border-bottom: 5px solid var(--bg-general-grey);
}

.check-circle {
  color: var(--bg-dark-green);
  font-size: 50px;
}

.empty-tasks-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

.empty-tasks {
  align-items: center;
  background-color: var(--bg-light-grey-title);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dash-line {
  background-color: var(--primary-black);
  height: 2px;
  width: 10em;
}

.empty-container-message {
  text-align: center;
  width: 60%;
}

.projects-heading {
  padding: 20px;
}

.add-project-icon {
  border: 1px dotted var(--bg-general-grey);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-asset {
  background-color: var(--bg-light-violet-text);
  border: 1px dotted var(--bg-general-grey);
  border-radius: 10px;
  padding: 10px;
}

.remove-button {
  background: none;
  border: none;
  padding: 0;
}

.projects-section {
  align-items: center;
  background-color: var(--bg-light-grey-title);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
  min-width: fit-content;
  padding: 10px;
  width: 230px;
}

.project-name {
  color: var(--bg-dark-blue);
}

.project-icon {
  color: var(--bg-dark-blue);
}

.project-text {
  padding-left: 10px;
}

.team-name {
  font-size: 12px;
}

.tasks-assigned {
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--bg-general-grey);
}

.tasks-assigned-heading {
  padding: 20px 20px 5px 20px;
}

.assigner-profile {
  height: 20px;
  width: 30px;
}

.assigned-empty-task {
  margin: 0 auto;
  padding: 10px;
}

.null-tasks {
  background-color: var(--bg-light-grey-title);
  border-radius: 20px;
  margin-left: 20px;
  width: 17em;
}

.people-collaborators {
  align-items: center;
  border: 1px dotted var(--bg-general-grey);
  background-color: var(--bg-dark-red);
  border-radius: 20px;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  height: 17em;
  justify-content: center;
  margin: 2em;
  width: 15em;
}

.people-quotes {
  font-size: 15px;
  text-align: center;
}

.invitation-button {
  background-color: var(--bg-medium-red);
  border: 1px solid var(--primary-white);
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  padding: 3px 7px;
}

.overall-todo-tasks:hover,
.projects-section:hover {
  background-color: var(--bg-dark-yellow);
}

.complete-icon:hover {
  color: var(--primary-black);
}

.classifier-buttons:hover {
  border-bottom: 5px solid var(--bg-general-grey);
}

/* Keyframes Animations */

@keyframes slide-left {
  from {
    transform: translateX(-500%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(500%);
  }

  to {
    transform: translateX(0%);
  }
}
