@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif&family=Poppins:wght@100&display=swap");
@import url("styles/styles.css");

* {
  font-family: "Bree Serif", "Poppins", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  border-radius: inherit;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-medium-yellow);
  border-radius: inherit;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-dark-yellow);
  border-radius: inherit;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--bg-dark-yellow);
  border-radius: inherit;
}
